body, html {
	width: 100%;
	height: 100%;
	font-family: Arial, sans-serif;
	color: #222;
}
.clients{
	background: lightgray;
	height:60%;
	min-width: 300px
}
@media (max-height:  600px){
	.clients{
		height: 100%;
	}
}

.carousel-control-prev-icon, .carousel-control-next-icon{
	background-color:red;
}
.text{
	text-align: center;
}
.col-yel{
	border: 10px solid yellow;
	padding: 30px;
	text-align: center;
}
.news, .actions{
	border: 3px solid silver;
	padding: 20px;
}
.news b, .actions b{
	padding-left: 15px;
}
.main-news a, .actions a {
	color: #5e646d;
}
.news hr{
	margin-top:0.3em;
	margin-bottom:0.2em;
}
.navbar-brand{
	max-width: 300px;
}
.navbar-brand img {
	width:300px;

}
.navbar-nav li{
	padding-right: 20px;
}
.nav-link{
	font-size: 1.1em !important;
}
.carousel-inner {
	height:500px;
}
.carousel-inner img{
	height:100%;
}
@media (min-width: 600px){
	.carousel-inner img{
		width: 100%;
	}
}
.carousel-caption{
	position:absolute;
	top:50%;
	transform: translateY(-80%);
	text-shadow: 1px 1px 10px #000;
	text-align: left;
}
.display-2{
	text-align: right;
}

@media (max-width: 450px){
	.carousel-caption .display-2{
		font-size:em;
	}
}

.padding{
	padding-bottom: 2em;
}
.fab{
	font-size:2em;
}
.fa-facebook{
	color: #3b5998;
}
.fa-instagram{
	color:#517fa4;
}
.fa-twitter{
	color:#00aced;
}
.fa-youtube{
	color:#bb0000;
}
.fa-vk{
	color:#597da3;
}
footer{
	background-color:#e4f2ff;
	padding-top: 50px;
	border-top: 20px solid #0068ba	;
	color: black;
}
footer a, footer span{
	color:#7f8082;
}
footer a:hover{
	color:#7f8082;
}
.col{
	margin-left: 20px;
}
.bank:hover{
	transform:scale(1.1);
}
.under-nav,.under-foot{
	padding: 15px;
	background: #f3f3f3;
}